[submodule "libs/nette"]
	path = libs/nette
	url = https://github.com/nette/nette.git
[submodule "libs/fluentpdo"]
	path = libs/fluentpdo
	url = https://github.com/lichtner/fluentpdo
[submodule "libs/notorm"]
	path = libs/notorm
	url = https://github.com/vrana/notorm.git
