#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			dsn: 'mysql:host=localhost;dbname=fblog'
			username: root
			password: 

	php:
		date.timezone: Europe/Bratislava
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	nette:
		session:
			expiration: '+ 14 days'
		debugger:
			email: 'marek@licht.sk'
			bar:
				- FluentPDOPanel

	services:
		#database: @Nette\Database\Connection
		#authenticator: Authenticator( @database::table(users) )

		pdo:
			class: PDO(%database.dsn%,%database.username%,%database.password%)
			setup:
				# setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION) 
				# nedá sa použiť lebo konštanty sa nedajú vložiť do config.neon
				- setAttribute(3, 2)
				- query('SET NAMES utf8')

		fpdo: FluentPDO
		notorm: NotORM

		articles: Articles

	factories:


production < common:

development < common:
